<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ELUCIDATA</title>
</head>
<body>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            Select your file to upload: <input type="file" name="document">
            <button type="submit">SUBMIT</button>
        </form>
        <!-- <input type="button" value="Challenge 1" href="{% url 'challenge1' %}"></input> -->
    </div>
</body>
</html>